<%= link_to "Create advertisement", new_admin_album_advertisement_path(@album) %>

<br>

<% @advertisements.each do |advertisement| %>
  <div>
    <p>
      <%= advertisement.text %>
    </p>
    <p>
      <%= link_to advertisement.link, advertisement.link %>
    </p>
    <p>
      <%= image_tag advertisement.photo_url %>
    </p>
    <p>
      <%= image_tag advertisement.photo.small.url %>
    </p>
  </div>
<% end %>

<h1>Photos</h1>

<%= paginate @photos %>

<% @photos.each do |photo| %>
  <%= image_tag(photo.photo.small.url) %>
  <%= check_box_tag 'show', photo.id, photo.show, class: 'show-photo' %>
<% end %>

<%= paginate @photos %>
